name: Build and Deploy to Cloud Run

on:
  push:
    branches:
      - main
      - cloudrun

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Authenticate with Google Cloud
      uses: google-github-actions/auth@v1
      with:
        credentials_json: ${{ secrets.GCP_DEPLOY_SA }}

    - name: Set up Google Cloud SDK
      uses: google-github-actions/setup-gcloud@v1
      with:
        project_id: ${{ secrets.GCP_PROJECT_ID }}


    - name: Deploy to Cloud Run
      run: |
        gcloud run deploy critic \
          --image ghcr.io/${{ github.repository_owner }}/critic:${{ github.sha }} \
          --platform managed \
          --region europe-north2 \
          --port 8501 \
          --memory 512Mi \
          --cpu 1 \
          --max-instances 1 \
          --project ${{ secrets.GCP_PROJECT_ID  }} \
          --service-account ${{ secrets.GCP_PROJECT_SA_NAME }} \
          --set-env-vars GROQ_API_KEY=${{ secrets.GROQ_API_KEY }}